header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 50px;
  width: 100%;
  padding: 0 2%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

.nav-area li a {
  text-decoration: none;
  padding: 5px 20px;
}

.nav-area li a:hover {

}

main {
  display: flex;
  flex-direction: row;
}

.left-part,
.right-part {
  flex-grow: 1;
}

.left-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  /* exemple de couleur de fond pour la div gauche */
}

.main-button {
  width: 200px;
  height: 100px;
}

.right-part {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  /* exemple de couleur de fond pour la div droite */
}

.column-title {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
/* 
  .nav-area {
    flex-direction: column;
  } */

  main {
    flex-direction: column;
  }

  .left-part {
    height: 300px;
  }

}